.container {
  width: 100vw;
  height: 100vh;
}

.example-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}

.example-container {
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-container {
  padding: 1rem;
}
